---
import Layout from '../../layouts/Layout.astro';
export function getStaticPaths() {
	const allPosts = Object.values(import.meta.glob('../../data/articles/*.md', { eager: true }));
	return allPosts.map((post) => {
		const {file, frontmatter, Content} = post;
		const article = file.split('/').pop().replace('.md', '');

		return {
			params: { article },
			props: { frontmatter, Content },
		};
	});
}
const { frontmatter, Content } = Astro.props;
---
<Layout>
	<h1>{frontmatter.author}</h1>
	<Content/>
</Layout>
