---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout>
	<Hero />
	<div id="wisata" class="h-[900px]">Destination</div>
	<div id="sejarah" class="h-[900px]">History</div>
	<div id="paket" class="h-[900px]">Packet</div>
	<div class="h-[900px]">Maps</div>
	<div id="galeri" class="h-[900px]">Gallery</div>
	<div id="testimoni" class="h-[900px]">Testimony</div>
	<div class="h-[900px]">Footer</div>
</Layout>
