---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Object from '../components/Object.astro';
import History from '../components/History.astro';
import Packet from '../components/Packet.astro';
import Maps from '../components/Maps.astro';
import Galery from '../components/Galery.astro';
---

<Layout>
	<Hero />
	<Object />
	<History />
	<Packet />
	<Maps />
	<Galery />
	<div id="testimoni" class="h-[900px]">Testimony</div>
	<div class="h-[900px]">Footer</div>
</Layout>
