---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Object from '../components/Object.astro';
import History from '../components/History.astro';
---

<Layout>
	<Hero />
	<Object />
	<History />
	<div id="paket" class="h-[900px]">Packet</div>
	<div class="h-[900px]">Maps</div>
	<div id="galeri" class="h-[900px]">Gallery</div>
	<div id="testimoni" class="h-[900px]">Testimony</div>
	<div class="h-[900px]">Footer</div>
</Layout>
