---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import hero from '../assets/hero.jpg';
---

<Layout>
	<nav class="fixed top-0 w-[1440px] text-white flex justify-between h-[88px] items-center px-[32px] shadow-md">
		<div>Logo</div>
		<ul class="flex gap-[32px] items-center">
			<li><a href="#">Beranda</a></li>
			<li><a href="#wisata">Wisata</a></li>
			<li><a href="#sejarah">Tentang Kami</a></li>
			<li><a href="#galeri">Galeri</a></li>
			<li><a href="#testimoni">Testimoni</a></li>
			<li class="bg-[#FF5722] px-[24px] py-[8px] rounded-[100px] hover:bg-orange-700 transition-colors text-white"><a href="#paket">Pesan Sekarang</a></li>
		</ul>
	</nav>
	<div 
		id="hero"
		class=" h-[900px] w-full bg-cover bg-center bg-fixed" 
		style={{ backgroundImage: `url(${hero.src})` }}
	>
		<div class="z-10 w-full h-full flex flex-col text-white items-center justify-center gap-[8px] text-center px-4">
			<div class="text-[48px] font-bold">Selamat Datang di Desa Wisata Taman Sendang Bandung</div>
			<div class="text-[20px]">Temukan ketenangan dan keindahan alam yang Asli</div>
			<a class="bg-[#FF5722] px-[24px] py-[8px] my-[20px] rounded-full cursor-pointer hover:bg-orange-700 transition-colors" href="#paket">Pesan Sekarang</a>
		</div>
	</div>
	<div class="h-[900px] bg-gray-500">Hero</div>
	<div id="wisata" class="h-[900px]">Destination</div>
	<div id="sejarah" class="h-[900px]">History</div>
	<div id="paket" class="h-[900px]">Packet</div>
	<div class="h-[900px]">Maps</div>
	<div id="galeri" class="h-[900px]">Gallery</div>
	<div id="testimoni" class="h-[900px]">Testimony</div>
	<div class="h-[900px]">Footer</div>
</Layout>
<script>
document.addEventListener('scroll', function() {
  const navbar = document.querySelector('nav');
  const heroSection = document.querySelector('#hero');
	if (!heroSection) return;
	const scrollPosition = window.scrollY;
	const transitionPoint = heroSection.offsetHeight * 0.8; 
	const opacity = Math.min(scrollPosition / transitionPoint, 1);

	if (opacity > 0.5) {
		navbar.classList.remove('text-white');
		navbar.classList.add('text-black');
	} else {
		navbar.classList.remove('text-black');
		navbar.classList.add('text-white');
	}
	
	if (opacity > 0.1) {
		navbar.classList.add('shadow-lg');
	} else {
		navbar.classList.remove('shadow-lg');
	}
	navbar.style.backgroundColor = `rgba(255, 255, 255, ${opacity})`;
});
</script>
