---
import hero from '../assets/hero.jpg';
import ObjectItem from './ObjectItem.astro'
import Section from './Section.astro';
let items = [
	{
		title: "Mata Air Sendang",
		description: "Nikmati kesegaran mata air yang jernih di area yang asri",
		image: hero
	},
	{
		title: "Mata Air Sendang",
		description: "Nikmati kesegaran mata air yang jernih di area yang asri",
		image: hero
	},
	{
		title: "Mata Air Sendang",
		description: "Nikmati kesegaran mata air yang jernih di area yang asri",
		image: hero
	},
	{
		title: "Mata Air Sendang",
		description: "Nikmati kesegaran mata air yang jernih di area yang asri",
		image: hero
	},
	{
		title: "Mata Air Sendang",
		description: "Nikmati kesegaran mata air yang jernih di area yang asri",
		image: hero
	},
]
---
<Section id="wisata" className="flex-col">
	<h2 class="font-bold text-[30px]">Artikel Terbaru</h2>
	<div class="flex flex-wrap gap-[32px] justify-center">
		{items.map((item) => <ObjectItem title={item.title} description={item.description}, image={item.image}/>)}
	</div>
</Section>
