---
import Section from './Section.astro';
---

<footer class="w-full bg-[#111827] text-white flex flex-col gap-[32px] items-center justify-center md:px-[144px] px-[48px] py-[48px]">
	<div class="flex font-[16px] md:flex-row flex-col gap-[32px]">
		<div class="flex flex-col gap-[16px] basis-1/4">
			<h2 class="font-semibold">Tentang Kami</h2>
			<p class="text-[#9CA3AF]">Desa Wisata Taman Sendang menawarkan pengalaman wisata alam yang autentik dengan pemandangan yang memukau.</p>
		</div>
		<div class="flex flex-col gap-[16px] basis-1/4">
			<h2 class="font-semibold">Kontak</h2>
			<p class="text-[#9CA3AF]">Email: info@tamasend.com<br>
				Phone: +62 123 4567 890<br>
				WhatsApp: +62 123 4567 890</p>
		</div>
		<div class="flex flex-col gap-[16px] basis-1/4">
			<h2 class="font-semibold">Link Cepat</h2>
			<div class="flex flex-col gap-[8px] text-[#9CA3AF]">
				<a href="#wisata">Destinasi Wisata</a>
				<a href="#paket">Paket Tour</a>
				<a href="#maps">Lokasi</a>
				<a href="#galeri">Galeri Foto</a>
			</div>
		</div>
		<div class="flex flex-col gap-[16px] basis-1/4">
			<h2 class="font-semibold">Link Cepat</h2>
			<p class="text-[#9CA3AF]">Senin - Minggu<br>08:00 - 17:00 WIB</p>
		</div>
	</div>
	<div class="text-[#9CA3AF] text-[16px]">© 2025 Desa Wisata Taman Sendang. All rights reserved.</div>
</footer>
