---
import Section from './Section.astro';
import boro from '../assets/hero.jpg';
---
<Section id="sejarah" className="bg-[#F9FAFB]">
	<div class="flex flex-row gap-[32px] justify-center w-full ">
		<div class="h-[500px] bg-cover bg-center rounded-2xl basis-1/2" style={{ backgroundImage: `url(${boro.src})` }}></div>
		<div class="basis-1/2 flex flex-col gap-[16px] justify-center">
			<h2 class="font-bold text-[30px]">Kisah Desa Kami</h2>
			<p>
				Desa Wisata Taman Sendang adalah sebuah surga tersembunyi yang menawarkan pengalaman unik perpaduan antara keindahan alam dan kearifan lokal yang masih terjaga. Dengan latar belakang pegunungan yang megah dan sawah bertingkat yang memukau, desa ini menjadi destinasi yang sempurna bagi mereka yang mencari kedamaian dan keotentikan pedesaan Jawa Barat.
			</p>
			<div class="flex gap-[22px] text-center pt-[30px]">
				<div class="w-[163px] flex flex-col gap-[8px] basis-1/3">
					<h3 class="text-[20px] font-bold">10 Spot</h3>
					<p class="text[14px]">Foto Instagramable</p>
				</div>
				<div class="w-[163px] flex flex-col gap-[8px] basis-1/3">
					<h3 class="text-[20px] font-bold">250 Ha</h3>
					<p class="text[14px]">Area Wisata</p>
				</div>
				<div class="w-[163px] flex flex-col gap-[8px] basis-1/3">
					<h3 class="text-[20px] font-bold">15K+</h3>
					<p class="text[14px]">Pengunjung</p>
				</div>
			</div>
		</div>
	</div>
</Section>
