---
---
<nav class="fixed top-0 w-[1440px] text-white flex justify-between h-[88px] items-center px-[32px] shadow-md">
	<div>Logo</div>
	<ul class="flex gap-[32px] items-center">
		<li><a href="#">Beranda</a></li>
		<li><a href="#wisata">Wisata</a></li>
		<li><a href="#sejarah">Tentang Kami</a></li>
		<li><a href="#galeri">Galeri</a></li>
		<li><a href="#testimoni">Testimoni</a></li>
		<li class="bg-[#FF5722] px-[24px] py-[8px] rounded-[100px] hover:bg-orange-700 transition-colors text-white"><a href="#paket">Pesan Sekarang</a></li>
	</ul>
</nav>
