---
---
<nav class="fixed top-0 max-w-[1440px] w-full text-white flex md:flex-row flex-col justify-between min-h-[88px] items-center px-[32px] shadow-md p-[16px] gap-[16px]">
	<div>Logo</div>
	<button id="burger" class="md:hidden text-[32px]">☰</button>
	<ul id="nav" class="md:flex gap-[32px] flex-col justify-center items-center md:flex-row hidden">
		<li><a href="/#">Beranda</a></li>
		<li><a href="/#wisata">Wisata</a></li>
		<li><a href="/#sejarah">Tentang Kami</a></li>
		<li><a href="/#galeri">Galeri</a></li>
		<li><a href="/#testimoni">Testimoni</a></li>
		<li class="bg-[#FF5722] px-[24px] py-[8px] rounded-[100px] hover:bg-orange-700 transition-colors text-white"><a href="#paket">Pesan Sekarang</a></li>
	</ul>
</nav>

<script>
const burgerButton = document.querySelector('#burger');
burgerButton.addEventListener('click', function() {
	const nav = document.querySelector('#nav');
	if (nav.classList.contains('hidden')) {
		nav.classList.remove('hidden');
		nav.classList.add('flex');
	} else {
		nav.classList.add('hidden');
		nav.classList.remove('flex');
	}
});
window.onload = function() {
  const navbar = document.querySelector('nav');
  const heroSection = document.querySelector('#hero');
	if (!heroSection) {
		navbar.style.backgroundColor = `rgba(255, 255, 255, 255)`;
		navbar.classList.remove('text-white');
		navbar.classList.add('text-black');
	}

	const scrollPosition = window.scrollY;
	const transitionPoint = heroSection.offsetHeight * 0.8; 
	const opacity = Math.min(scrollPosition / transitionPoint, 1);
	if (opacity > 0.5) {
		navbar.classList.remove('text-white');
		navbar.classList.add('text-black');
	} else {
		navbar.classList.remove('text-black');
		navbar.classList.add('text-white');
	}
	
	if (opacity > 0.1) {
		navbar.classList.add('shadow-lg');
	} else {
		navbar.classList.remove('shadow-lg');
	}
	navbar.style.backgroundColor = `rgba(255, 255, 255, ${opacity})`;
}

window.onscroll = function() {
  const navbar = document.querySelector('nav');
  const heroSection = document.querySelector('#hero');
	if (!heroSection) {
		return;
	}
	const scrollPosition = window.scrollY;
	const transitionPoint = heroSection.offsetHeight * 0.8; 
	const opacity = Math.min(scrollPosition / transitionPoint, 1);

	if (opacity > 0.5) {
		navbar.classList.remove('text-white');
		navbar.classList.add('text-black');
	} else {
		navbar.classList.remove('text-black');
		navbar.classList.add('text-white');
	}
	
	if (opacity > 0.1) {
		navbar.classList.add('shadow-lg');
	} else {
		navbar.classList.remove('shadow-lg');
	}
	navbar.style.backgroundColor = `rgba(255, 255, 255, ${opacity})`;
}
</script>
