---
let { title, description, image } = Astro.props;
---
	<div class="w-[437px] h-[376px] shadow-xl rounded-2xl overflow-hidden flex flex-col">
		<div
			class="h-[240px] bg-cover bg-center" 
			style={{ backgroundImage: `url(${image.src})` }}
		></div>
		<div class="grow p-[24px] flex flex-col gap-[12px]">
		<h3 class="font-medium text-[20px]">{title}</h3>
		<p>{description}</p>
		</div>
	</div>
