
---
import Section from './Section.astro';

const packets = [
    {
        name: "Paket Meeting", 
        img: "/packets/meeting.webp",
        description: "Fasilitas lengkap untuk rapat kerja Anda di tengah suasana alam yang tenang dan inspiratif."
    },
    {
        name: "Paket Outbound", 
        img: "/packets/outbound.webp",
        description: "Tingkatkan kerjasama tim dengan berbagai permainan seru dan menantang di alam terbuka."
    },
    {
        name: "Paket Wedding", 
        img: "/packets/weddingtmp.webp",
        description: "Wujudkan pernikahan impian Anda dengan latar pemandangan desa yang romantis dan tak terlupakan."
    },
    {
        name: "Paket Camping", 
        img: "/packets/camping.webp",
        description: "Rasakan sensasi bermalam di bawah bintang dengan fasilitas camping yang nyaman dan aman."
    },
    {
        name: "Paket Gathering", 
        img: "/packets/gathering.webp",
        description: "Ciptakan momen kebersamaan yang hangat dengan berbagai aktivitas menyenangkan."
    },
];
---
<Section id="paket" className="bg-gray-50">
    <div class="flex flex-col items-center w-full text-center">
        <h2 class="text-3xl md:text-4xl font-bold">Paket Wisata</h2>
        <p class="mt-4 max-w-2xl text-lg text-gray-600">
            Pilih paket yang paling sesuai untuk petualangan Anda, dari rapat hingga liburan keluarga yang tak terlupakan.
        </p>
        
				<div class="w-full mt-12 flex flex-wrap -mx-4 justify-center">
            {packets.map((item) => (
                <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
                    <div class="card h-full text-left group flex flex-col">
                        <div class="overflow-hidden">
                            <img 
                                src={item.img} 
                                alt={`Gambar untuk ${item.name}`}
                                class="w-full h-64 object-cover transition-transform duration-500 ease-in-out group-hover:scale-110"
                                loading="lazy"
                                onerror="this.onerror=null;this.src='https://placehold.co/400x256/f87171/ffffff?text=Image+Error';"
                            />
                        </div>
                        <div class="p-6 flex flex-col items-start grow">
                            <h3 class="text-2xl !text-gray-800 mb-2 font-semibold">{item.name}</h3>
                            <p class="text-gray-600 mb-6">{item.description}</p>
                            <a href="#maps" class="btn w-full text-center mt-auto bg-primary">
                                Info & Pemesanan
                            </a>
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </div>
</Section>

