---
import Section from './Section.astro';
---
<Section id="sejarah" className="flex-col">
	<h2 class="font-bold text-[30px]">Paket Wisata</h2>
	<div class="flex flex-wrap gap-[32px] justify-center">
		<div class="w-[350px] h-[394px] shadow-xl rounded-2xl p-[32px] flex flex-col gap-[16px]">
			<h3 class="font-bold text-[20px]">Paket Kenangan Hari</h3>
			<h4 class="font-bold text-[#FF5722] text-[30px]">Rp250.000</h4>
			<ul class="flex flex-col gap-[16px] text-[16px]">
				<li>Guide Lokal</li>
				<li>Guide Lokal</li>
				<li>Guide Lokal</li>
				<li>Guide Lokal</li>
			</ul>
			<a class="text-center text-white bg-[#FF5722] px-[24px] py-[8px] my-[20px] rounded-full cursor-pointer hover:bg-orange-700 transition-colors" href="#paket">Pesan Sekarang</a>
		</div>
		<div class="w-[350px] h-[394px] shadow-xl rounded-2xl p-[32px] flex flex-col gap-[16px]">
			<h3 class="font-bold text-[20px]">Paket Kenangan Hari</h3>
			<h4 class="font-bold text-[#FF5722] text-[30px]">Rp250.000</h4>
			<ul class="flex flex-col gap-[16px] text-[16px]">
				<li>Guide Lokal</li>
				<li>Guide Lokal</li>
				<li>Guide Lokal</li>
				<li>Guide Lokal</li>
			</ul>
			<a class="text-center text-white bg-[#FF5722] px-[24px] py-[8px] my-[20px] rounded-full cursor-pointer hover:bg-orange-700 transition-colors" href="#paket">Pesan Sekarang</a>
		</div>
		<div class="w-[350px] h-[394px] shadow-xl rounded-2xl p-[32px] flex flex-col gap-[16px]">
			<h3 class="font-bold text-[20px]">Paket Kenangan Hari</h3>
			<h4 class="font-bold text-[#FF5722] text-[30px]">Rp250.000</h4>
			<ul class="flex flex-col gap-[16px] text-[16px]">
				<li>Guide Lokal</li>
				<li>Guide Lokal</li>
				<li>Guide Lokal</li>
				<li>Guide Lokal</li>
			</ul>
			<a class="text-center text-white bg-[#FF5722] px-[24px] py-[8px] my-[20px] rounded-full cursor-pointer hover:bg-orange-700 transition-colors" href="#paket">Pesan Sekarang</a>
		</div>
	</div>
</Section>
