---
import Section from './Section.astro';

const packets = [
	"Meeting", "Wedding", "Gathering", "Outbound", "Parenting", "Camping"
]
---
<Section id="paket" className="">
	<div class="flex flex-col rounded-2xl w-full shadow-xl text-center overflow-hidden">
		<div class="flex items-center justify-center">
			<h2 class="font-bold text-[30px]">Paket Wisata</h2>
		</div>
		<div class="flex w-full overflow-x-scroll p-[64px]">
			<div class="flex flex-nowrap gap-[32px] justify-center">
				{packets.map((item) => <div class="w-[350px] h-[394px] shadow-xl rounded-2xl p-[32px] flex flex-col gap-[16px] hover:shadow-2xl hover:scale-[1.02] transition-all">
					<h3 class="font-bold text-[20px]">{item}</h3>
					<h4 class="font-bold text-primary text-[30px]">Rp250.000</h4>
					<ul class="flex flex-col gap-[16px] text-[16px]">
						<li>Guide Lokal</li>
						<li>Guide Lokal</li>
						<li>Guide Lokal</li>
						<li>Guide Lokal</li>
					</ul>
					<a class="text-center text-white bg-primary px-[24px] py-[8px] my-[20px] rounded-full cursor-pointer hover:bg-hover transition-colors hover:shadow-2xl hover:scale-[1.02] transition-all" href="#paket">Pesan Sekarang</a>
				</div>
				)}
			</div>
		</div>
	</div>
</Section>
