---
import ObjectItem from './ObjectItem.astro'
import Section from './Section.astro';
let hero = '/content/boro.jpg';
let items = [
	{
		title: "Mata Air Sendang",
		description: "Saksikan keindahan alam yang memukau di sekitar Taman Sendang Bandung",
		thumbnail: hero
	},
	{
		title: "Joglo",
		description: "Nikmati suasana tradisional yang kental di Joglo Taman Sendang Bandung",
		thumbnail: hero
	},
	{
		title: "Holtikultura / Buah Kelengkeng",
		description: "Jelajahi keindahan tanaman holtikultura dan nikmati buah kelengkeng segar",
		thumbnail: hero
	},
	{
		title: "Peternakan",
		description: "Pelajari tentang peternakan lokal dan interaksi dengan hewan ternak",
		thumbnail: hero
	},
	{
		title: "Perikanan",
		description: "Temukan keindahan perikanan di Taman Sendang Bandung",
		thumbnail: hero
	},
	{
		title: "Thek band",
		description: "Nikmati penampilan musik tradisional yang menghibur di Taman Sendang Bandung",
		thumbnail: hero
	},
	{
		title: "Kuliner",
		description: "Cicipi berbagai hidangan lezat khas Taman Sendang Bandung",
		thumbnail: hero
	},
	{
		title: "Line Dance",
		description: "Ikuti keseruan Line Dance bersama komunitas lokal",
		thumbnail: hero
	},
	{
		title: "Empu Keris (Ki Empu Sungkowo Harumbrodjo)",
		description: "Pelajari seni pembuatan keris dari Ki Empu Sungkowo Harumbrodjo yang terkenal",
		thumbnail: hero
	},
	{
		title: "Pasar Tradisional",
		description: "Rasakan suasana pasar tradisional yang ramai dan beragam produk lokal",
		thumbnail: hero
	},
]
---
<Section id="wisata" className="">
	<div class="flex flex-row rounded-2xl w-full shadow-xl text-center overflow-hidden">
		<div class="flex items-center justify-center shadow-xl bg-primary text-white">
			<h2 class="font-bold text-[30px] m-auto">Potensi Unggulan</h2>
		</div>
		<div class="flex w-full overflow-x-scroll p-[64px]">
			<div class="flex  gap-[32px] justify-center">
				{items.map((item) => <ObjectItem title={item.title} description={item.description}, thumbnail={item.thumbnail}/>)}
			</div>
		</div>
	</div>
</Section>
